extends layout

block content
  include barre_menu  
  
  div.container(class='hidden-xs')
    div#fancyClock
  
                
  script
    $(document).ready( function() {
    /* This code is executed after the DOM has been completely loaded */
    $('#fancyClock').tzineClock();
    });