
nav#menu
  ul
    li.Selected
      a(href="index.html") Introduction
    li
      a(href="horizontal-submenus.html") Horizontal submenus example
    li
      a(href="vertical-submenus.html") Vertical submenus example
    li
      a(href="photos.html") Photos in sliding panels
    li
      a(href="positions.html") Positioning the menu
    li
      a(href="colors.html") Coloring the menu
    li
      a(href="advanced.html") Advanced example
    li
      a(href="onepage.html") One page scrolling example
    li
      a(href="jqmobile/index.html") jQuery Mobile example