extends layout

block content  

  include barre_menu  
  .row(id="mainContent")
    div.row
      div(id="ladate")
        div(id="bartop")
          span(id="mois") ssss
        div(id="jour") sss
  
  
    .row.tabxxx(id="tabMeto" ng-controller="ctrlThermo")     
      div(class="btn-menu-dg col-xs-12 col-sm-12 col-md-4" ng-repeat='temp in meteo')
        a(href="#")
           div.pull-left
              img(class="img-responsive pull-left" src="/images/thermo.jpg")
                  
           div.pull-left
              p {{temp.Name}} (idx : {{temp.idx}})
              h3.text-center {{temp.Temp}} &#176; 
              p Date : {{temp.LastUpdate}}
        
    button(class="btn btn-primary" id="btnMenu" type="button") Menu          
     
     
    .row.tabxxx(id="tabMenu" style="display:none;" ng-controller="ctrlBtn")
      div(class="btn-menu-dg col-xs-12 col-sm-12 col-md-4" ng-repeat='choix in lesBouttons')
        a(href="{{choix.url}}")
           div.pull-left
              img(class="img-responsive pull-left" src="/images/{{choix.icone}}")
                  
           div.pull-left
              h3 {{choix.nom}}
              p Date : {{choix.detail}}
              
      button(class="btn btn-primary" id="btnMeteo" type="button") Meteo
  
    .row.tabxxx(id="tabClock" style="display:none;")
      div.container(class='hidden-xs')
        div#fancyClock
    
    button(class="btn btn-primary" id="btnClock" type="button") Horloge
  
  div(class='zlog col-lg-4 col-md-4 hidden-xs hidden-sm bg-primary') 
  div(class='tracelog bg-warning', id='tmplt', style='display: none')
    div#retourio
      small xxxxx
      
  
  script 
    $(document).ready( function() { 
    /* This code is executed after the DOM has been completely loaded */ 
    $('#fancyClock').tzineClock(); 
    }); 

 