extends layout

block content
  include barre_menu
  span(ng-init="nomPiece = '#{nomPiece}'")
  br
  .row(ng:controller="ctrlModule")
    ul
      li(ng:repeat='module in listeModules')
           button(class="btn btn-success btn-lg", ng:class="btn_appareil", ng:click="pipo('M12')",typebtn="on", idbtn="12")
             xxxxxxxx
           
    button(class="btn btn-success btn-lg", ng:click="pipo()")
      aaaaaaaaaaa
      
  a.btn_appareil(href="#") xxxxxx
  
include footer

  