extends layout

block content
  include barre_menu
  
  .row
    div(class='col-xs-12 col-sm-12 col-md-8 col-lg-8')
        table(class='table table-condensed')
          for item in modules
             - var piece = item.HardwareName
             
             if type_piece == 'all'
                - go = true
             else
                - go =  piece==type_piece 
                
             if go
              tr
                td(style="vertical-align:top;")
                  h6 #{item.idx}
                td(style="vertical-align:middle;")
                  small
                    p #{item.Name}
                    if type_piece == 'all'
                      p
                        small(class='text-warning') xxxxx
                if item.Used=='1' 
                  td
                    button(class='btn btn-success btn-lg btn_appareil', typebtn='on', idbtn='#{item.idx}')
                      span(class='glyphicon glyphicon-ok-circle')
                  td
                    button(class='btn btn-danger btn-lg btn_appareil', typebtn='off', idbtn='#{item.idx}')
                      span(class='glyphicon glyphicon-remove-circle')
                else
                  td
                    x
                  td
                    x
                
     div(class='zlog col-lg-4 col-md-4 hidden-xs hidden-sm bg-primary') Droite
       div(class='tracelog bg-warning', id='tmplt', style='display: none')
         div#retourio xxxxx
  include footer
 
