body,h1,h2,h3,p,quote,small,form,input,ul,li,ol,label{
	/* Simple page reset */
	margin:0;
	padding:0;
}

body {
   font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color : #222;
color :white;

}

#barre_menu{
 margin-top : 30px;
 padding-left : 0px;
}

#footer{
 background-color : #222;
 }

 .white {
    color : white;
}

.fd_antracite {
    background-color : #333;
}


#fancyClock{
	margin: 40px  auto;
	height:202px;
	border:1px solid #111111;
	width:602px;
}